/*styles*/
nav{
	background-color: #4E3672!important;
}
.navbar-brand,.nav-link{
	color: #fff!important
}
.login_page{
	height: 625px;
}
.login_page h4{
	color: #4E3672;
	font-weight: 600;
	padding-bottom: 15px;
}
.login_form{
	background-color: #fff;
	color: #000;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
	-webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
}
.btn-submit{
	background: #4E3672!important;
	color: #fff!important;
	width: 100%!important;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.login_form a{
	color: #4E3672!important;
}

/*dashboard styles*/
.dashboard{
	padding-top: 50px;
	padding-bottom: 50px;
}
.dropdown-menu{
	right: 0!important;
	left: unset!important;
}
.grid_dashboard{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}
.grid_dashboard .dashboard_blk{
	color: #4E3672;
	font-weight: 600;
	border-radius: 5px;
	text-align: center;
	padding: 25px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
	-webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;	
	transition: transform .5s;
	-webkit-transition: transform .5s;
}
.grid_dashboard .dashboard_blk:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
	-webkit-box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.grid_dashboard .dashboard_blk i{
	font-size: 32px;
}
.grid_dashboard .dashboard_blk h5{
	font-size: 15px;
	font-weight: 600;
	padding-top: 15px;
}
h3{
	color: #4E3672;
	/*text-align: center;*/
	font-weight: 600;
}
.body{
	padding-top: 50px;
	padding-bottom: 50px;
}
.school-blk,.house-blk,.request-blk,.neft-blk{
	border: 1px solid #eee;
	padding: 25px;
	border-radius: 10px;
}
.nav-pills .nav-link{
	color: #4E3672!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #4E3672!important;
	color: #fff!important
}
.school-blk ul li{
	margin-right: 10px;
}
.school-blk .tab-content{
	padding-top: 25px;
	padding-left: 10px;
}
.btn-back{
	font-size: 15px!important;
	color: #4E3672!important;
	padding: 10px 5px;
	margin-bottom: 10px!important;
	font-weight: 600;
	display: inline-block;
}
.btn-search{
	background-color: #4E3672!important;
	color: #fff!important;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px!important;
}
input[type=text], select,textarea,input[type=date],input[type=number] {
  border: none!important;
  border-bottom: 2px solid darkgrey!important;
  background-color: inherit!important;
  display: block!important;
  width: 100%!important;
  margin: none!important;
  border-radius: 0!important
}
input[type=text]:focus, select:focus, textarea:focus,input[type=date]:focus,input[type=number]:focus{
  outline: none!important;
}

.form-group {
  border: 0!important;
  font-weight: 500;
}

.form-group .line-bottom {
  height: 2px;
  width: 0px;
  position: absolute;
  background-color: darkgrey;
  display: inline-block;
  transition: .3s width ease-in-out;
  position: relative;
  top: -14px;
  border-radius: 0!important;
}
input[type=text]:focus,select:focus,textarea:focus,input[type=number]:focus,input[type=date]:focus{
  	box-shadow: none!important;
  	border-bottom: 2px solid #4E3672!important;
}
input[type=text]:focus+.line-bottom, select:focus+.line-bottom,textarea:focus+.line-bottom,
input[type=date]:focus+.line-bottom,input[type=number]:focus+.line-bottom {
  width: 100%;
  background-color: transparent!important;
  box-shadow: none!important;
  border-color: transparent!important;
  border-radius: 0!important;
  box-shadow: none!important;
}
.request-blk ul{
	padding-bottom: 15px;
}
.request-blk a{
	color: #4E3672;
	font-size: 14px;
	font-weight: 600;
}
.request-blk a:hover li{
	background: #eee;
	color: #4E3672;
}
.request-blk a li span{
	display: block;
	font-size: 13px;
}
.step_blk h5{
	color: #4E3672;
	font-weight: 600;
}